*{
	padding: 0;
	margin: 0;
	font-family: "微软雅黑","平方";
	font-style: normal;
  font-weight: normal;
	
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
	outline: none;
	color: #919191;
}
.iconfont{
	font-family: "iconfont";
}
@font-face {
  font-family: 'iconfont';  /* project id 976850 */
  src: url('//at.alicdn.com/t/font_976850_znp8v7z5jx.eot');
  src: url('//at.alicdn.com/t/font_976850_znp8v7z5jx.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_976850_znp8v7z5jx.woff') format('woff'),
  url('//at.alicdn.com/t/font_976850_znp8v7z5jx.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_976850_znp8v7z5jx.svg#iconfont') format('svg');
}
.root{
	max-width: 640px;
	height: 100vh;
	margin: 0 auto;
	/* overflow: hidden; */
}
