.caidan{
	width: 100%;
	height: 0.94rem;
	background: #fff;
	font-size: 0.37rem;
	color: #545454;
	text-align: center;
	line-height: 0.94rem;
	display: flex;
	justify-content: center;
}
.caidan .two{
	margin: 0 2.5rem;
	border-bottom: 2px solid #de6c26;
	color: #de6c26;
}
.kongbai{
	width: 100%;
	height: 0.32rem;
	background: #f2f2f2;
}
.time{
	height: 1.82rem;
	width: 100%;
	
	padding: 0 0.5rem;
	box-sizing: border-box;
	display: flex;
	
}
	
.time-left{
height: 100%;
width: 7.93rem;

}
.time-left .one{
font-size: 0.45rem;
color: #545454;
margin-top: 0.33rem;
}
.time-left .two{
font-size: 0.32rem;
color: #979797;
margin-top: 0.22rem;
}
.time-right{
	height: 100%;
	width: 1.89rem;
	padding: 0.44rem 0 0.85rem 0;
	box-sizing: border-box;
	font-size: 0.43rem;
	color: #d56a3c;
	
}
.line{
	width: 9.83rem;
	height: 1px;
	background: #EBEBEB;
	margin-left: 0.5rem;
	
}
.xiangqing{
	height: 2.07rem;
	width:100%;
	padding: 0 0.5rem;
	box-sizing: border-box;
	display: flex;
}
.xiangqing .one{
	width: 1.77rem;
	height: 100%;
	background: url(../img/collocation1.jpg) no-repeat center center/90% 90%;

}
.xiangqing .two{
	text-align: center;
	
	line-height: 2.07rem;
    font-size: 0.35rem;
	color: #535353;
	margin-left: 0.3rem;
}
.price{
	width: 100%;
	height: 1.15rem;
	padding: 0 0.5rem;
	box-sizing: border-box;
	text-align: center;
	line-height: 1.06rem;
	display: flex;
	justify-content: flex-end;
}
.price .one{
	font-size: 0.34rem;
	color:#535353 ;
	
}
.price .two{
	font-size: 0.41rem;
	color:#535353 ;
	
}
.btn{
	width: 100%;
	height: 1rem;
	padding: 0 0.5rem;
	box-sizing: border-box;
	display: flex;
	justify-content: flex-end;
}
.btn div{
	width: 2.27rem;
	height: 0.88rem;
	font-size: 0.41rem;
	text-align: center;
	line-height: 0.88rem;
	border-radius: 3px;
}
.btn div:first-child{
	color: #a5a5a5;
	border: 1px solid #a5a5a5;
}
.btn div:last-child{
	color: #fd740c;
	border: 1px solid #fd740c;
	margin-left: 0.27rem;
}