.shangping{
	width: 100%;
	height: 3.46rem;
	display: flex;
	align-items: center;
}
	.shangping-btn{
	width: 0.91rem;
	height: 100%;
	text-align: center;
	line-height: 3.46rem;
}
.shangping-btn img{
	width: 0.6rem;
	height: 0.6rem;
	
}
.shangping-text{
	width: 8.89rem;
	height: 100%;
	padding: 0.38rem 0;
	box-sizing: border-box;
	display: flex;
}
	
.shangping-text .left{
width: 2.69rem;
height: 2.68rem;
border: 1px solid #eee;
background: url(https://i1.mifile.cn/a1/pms_1525920858.18359604!180x1800.png) no-repeat center center/100% 100%;
box-sizing: border-box;
}
.shangping-text .right{
	padding: 0.38rem 0 0.38rem 0.32rem;
	box-sizing: border-box;
 
}
.shangping-text .right h2{
	font-size: 0.42rem;
	color: #666;
}
.shangping-text .right .price{
	font-size: 0.36rem;
	color: #999;
	margin-top: 0.25rem;
}
.shangping-text .jiajian{
	width: 2.75rem;
	height: 0.94rem;
	margin-top: 0.1rem;
	color: #3c3c3c;
	    border: 1px solid #eee;
			box-sizing: border-box;
}
.shangping-text .jiajian div{
	width: 33%;
	height: 100%;
	float: left;
}
.shangping-text .jiajian .jiajian-left1{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAiCAYAAAA6RwvCAAAAT0lEQVR4Ae3TgQXAAAxE0azXDpLJKx3jmoOO0IR+fA7w4ELSioAAAQIECBAgn0My8+iq01BlQwwjXswWyG3I6TGIuGz47WuAAAECBAgQIA8XIA86877kLgAAAABJRU5ErkJggg==) no-repeat center center/50% 50%;
      opacity: 0.3;
			border-right: 1px solid #eee;
			box-sizing: border-box;
}
.shangping-text .jiajian .jiajian-left3{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAiCAYAAAA6RwvCAAAAc0lEQVR4AWJIS0ujBBsD8W0oNga0YwcYAMMwGIV3ve3kW88x3R3GZAlDYJTgLx4eBfVBkFT+qkKaZ1+7EvIkyK2EWA4IECA/AQECZPW6Z6J6GBYlImNmgVwB2eIhRJxhYGqAABkMCBAgLOEtQY46ZIJDzQtkpFzgLwrvWQAAAABJRU5ErkJggg==) no-repeat center center/50% 50%;
	opacity: 1;
	border-left: 1px solid #eee;
	box-sizing: border-box;
}
.shangping-text .jiajian .jiajian-left2{
	text-align: center;
	line-height:0.94rem ;
	font-size: 0.38rem;
}
.shangping-shanchu{
	width: 0.99rem;
	height: 100%;
	padding-top: 1.5rem;
	box-sizing: border-box;
}
.shangping-shanchu img{
	width: 0.6rem;
	height: 0.6rem;
}

.tishi1{
	width: 100%;
	height: 1rem;
	background: #fff;
	text-align: center;
	line-height: 1rem;
	font-size: 0.3rem;
	color: #999;
	margin-top: 2px;
	border-top: 4px solid #f6f6f6;
	box-sizing: border-box;
}




.like{
	width: 100%;
	height: 1.78rem;
}
.like img{
	width: 100%;
	height: 100%;
}
.goods{
	width: 100%;
	height: 7.03rem;

	padding-top: 0.11rem;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}
.goods .one{
	width: 49.2%;
	height: 100%;
}
.goods .two{
	width: 100%;
	height: 5.2rem;
}
.goods .text{
	width: 100%;
	height: 1.72rem;
	padding: 0.27rem 0.41rem;

	box-sizing: border-box;
}
.goods .text .text-one{
	font-size: 0.4rem;
	color: #3C3C3C;
	

}
.goods .text .text-two{
	font-size: 0.35rem;
	color: #FF6700;
	padding-top: 0.2rem;
	box-sizing: border-box;
}
.goods img{
	width: 100%;
	height: 100%;
}
.foot{
	width: 100%;
	height: 1.52rem;
	position: fixed;
	bottom: 0;
	left: 0;
	background: #f4f4f4;
	display: flex;
}
.foot .one{
	height: 100%;
	width: 33.333%;
	
	font-size: 0.4rem;
	color: #999;
	text-align: center;
	
}
.foot .two{
	background: #ffff;
	padding-top: 0.19rem;
	box-sizing: border-box;
}
.foot .three{
	background: #f4f4f4;
	line-height: 1.52rem;
  font-size: 0.38rem;
	color: #000;
}
.foot .four{
	background: #FF6700;
	line-height: 1.52rem;
  font-size: 0.38rem;
	color: #fff;
}

