.denglu{
	width: 100%;
	height: 1.56rem;
	padding: 0 0.5rem;
    box-sizing: border-box;
	font-size: 0.47rem;
	color: #000;
	text-align: center;
	line-height: 1.56rem;
	display: flex;
	justify-content: space-between;
}
.denglu span{
	color: #757575;
}
.denglu .one{
	font-size: 0.43rem;
}
.tishi{
	width: 100%;
	height: 1.84rem;
	background: #ebebeb;
	padding: 0 0.5rem;
	box-sizing: border-box;
	font-size: 0.38rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.tishi .one{
	background: url(https://m.mi.com/static/img/cartnull.daaf7926f8.png) no-repeat center center/100% 100%;
	width: 1.23rem;
	height: 1.12rem;
}
.tishi .two{
  padding: 0.3rem;
  color: rgba(0,0,0,.27);
}
.tishi .three{
	color: #000;
	text-align: center;
	line-height: 0.7rem;
	width: 1.85rem;
	height: 0.7rem;
	border: 1px solid rgba(0,0,0,.27);
}
.like{
	width: 100%;
	height: 1.78rem;
}
.like img{
	width: 100%;
	height: 100%;
}
.goods{
	width: 100%;
	height: 7.03rem;

	padding-top: 0.11rem;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}
.goods .one{
	width: 49.2%;
	height: 100%;
}
.goods .two{
	width: 100%;
	height: 5.2rem;
}
.goods .text{
	width: 100%;
	height: 1.72rem;
	padding: 0.27rem 0.41rem;

	box-sizing: border-box;
}
.goods .text .text-one{
	font-size: 0.4rem;
	color: #3C3C3C;
	

}
.goods .text .text-two{
	font-size: 0.35rem;
	color: #FF6700;
	padding-top: 0.2rem;
	box-sizing: border-box;
}
.goods img{
	width: 100%;
	height: 100%;
}

